<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Total Score ---> {{totalScore}}
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p>Section One --->  {{score}}
                            </p>
                        </div>
                        <div class="panel-body">
                            <button (click)="answerSubmit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>