<div class="container">



    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p>Implemented Auto Search functionalities to find the Team Member details from the Data Source.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="search">
                        <span class="fa fa-search"></span>
                        <input placeholder="Search" value="{{placeholderText}}" (keyup)="globalSearch($event)">
                    </div>
                    <div *ngIf="value">
                        <div *ngFor="let employe of dataToTable">
                            <li>
                                {{employe.FullName}}
                            </li>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">DATA BASE NAME LIST</div>
                <div class="panel-body">
                    <div>
                        <li>Ravi Suryan</li>
                        <li>Ramu</li>
                        <li>Sai Santosh</li>
                        <li>Harish</li>
                        <li>Abhishekh Mittal</li>
                        <li>Koushik</li>
                    </div>
                </div>
            </div>
        </div>
    </div>